:root {
  --bg-color: #19191b;
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif, "Rubik";
  font-optical-sizing: auto;
  background-color: var(--bg-color);
  overflow-x: hidden !important;
}

/* utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.effect-bg {
  position: absolute;
  top: 0;
  z-index: -0 !important;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.effect-bg.effect-left {
  z-index: 0 !important;
  left: 0;
}

.effect-bg.effect-right {
  z-index: 0 !important;
  right: 0;
}

.bg-icon {
  position: absolute;
  z-index: 1000;
  img {
    width: 80px !important;
    object-fit: cover;
  }
}

.bg-icon.icon-top-left {
  left: 50px;
  top: 100px !important;
}
.bg-icon.icon-bottom-left {
  left: 0;
  bottom: 0;
}
.bg-icon.icon-top-right {
  right: 10px;
  top: 40px;
}
.bg-icon.icon-bottom-right {
  right: 0;
  bottom: 0;
  width: 40px !important;
}

button:active {
  transform: scale(0.9);
}

/* utilities */

/* header start */

.header {
  position: relative;
}

.nav-small {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 999999 !important;
  position: relative;
  button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
}
/* navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  place-content: center;
  width: 100%;
  padding: 30px 0;
  background-color: transparent;
  position: relative;
  z-index: 1000;
}

.navbar .brand-wrapper {
  width: 100%;
  height: 100%;
}

.navbar .brand-wrapper .brand {
  text-decoration: none;
}

.navbar .brand-wrapper .brand img {
  width: 132px !important;
  height: 40px;
  object-fit: cover;
}

.navbar .nav-list-wrapper {
  width: 100%;
}

.navbar .nav-list-wrapper .nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar .nav-list-wrapper .nav-list .list-item {
  font-size: 18px;
  color: #fff;
  /* padding: 0 20px; */
  line-height: 24.55px;
  font-weight: 600;
  font-family: "Nunito Sans";
  cursor: pointer !important;
  transition: 0.5s ease-in-out;
}

,
.navbar .nav-list-wrapper .nav-list .list-item:hover {
  color: #ff5151 !important;
}

.navbar .nav-list-wrapper .nav-list .list-item:active {
  transform: scale(0.9);
}

.navbar .nav-list-wrapper .nav-list .list-item.active {
  color: #ff5151 !important;
}

.navbar .contact-btn-wrapper .contact-us-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-toggler {
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: transparent;
  border: none;
  display: none;
}

.navbar .contact-us-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Nunito Sans";
}
/* navbar */

/* Hero part */

.hero {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  z-index: 9999999 !important;
  position: relative;
}

.hero .text-area {
  width: 100%;
}

.hero .text-area .top-title {
  font-size: 65px;
  font-weight: 800;
  line-height: 70px;
  font-family: "Rubik";
  color: #ffffff;
}
.hero .text-area .hero-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #a5a5a5;
  margin-top: 20px;
  font-family: "Nunito Sans";
}

.hero .text-area .service-btn {
  background-color: #ff5151;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  transition: 0.5s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;
}

.hero .text-area .service-btn:hover {
  color: #ffffff;
  transition: 0.3s;
  background-color: transparent;
  border: 1px solid #ff5151;
  color: #ff5151;

  & img {
    filter: invert(44%) sepia(62%) saturate(3508%) hue-rotate(334deg)
      brightness(113%) contrast(105%);
  }
}

.hero .img-area {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px;

  img {
    width: 700px;
    height: 100%;
    object-fit: cover;
  }
}

/* Hero part */

/* Service start */
.service-section {
  margin-top: 270px;
  z-index: 1000;
  position: relative;
}

.service-section .service-title {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.service-section .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
  position: relative;
  z-index: 9999999 !important;
}

.service-section .services .service {
  padding: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  position: relative;
  z-index: 9999999 !important;
}

.service-section .services .service:hover {
  border: 1px solid #6d6665;
}

.service-section .services .service::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5151;
  bottom: -10px;
  visibility: hidden;
}

.service-section .services .service.active {
  border: 1px solid #6d6665;
}

.service-section .services .service.active::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5151;
  bottom: -10px;
  visibility: visible !important;
}

.service-section .services .service:hover::before {
  visibility: visible;
}

.service-section .services .service .service-icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.service-section .services .service .service-title {
  font-size: 28px;
  font-weight: 6 00;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.service-section .services .service .service-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #a5a5a5;
  font-family: "Nunito Sans";
}

.service-section .service-top-left-icon {
  top: -0 !important;
  display: none !important;
}

.service-section .service-bottom-left-icon {
  display: none !important;
}

.service-section .service-top-right-icon {
  top: -10px !important;
}
.service-icon-top-right {
  display: none !important;
}

.service-section .service-bottom-left-icon {
  bottom: -50px !important;
  left: 0 !important;
}

/* Service end */

/* Portfolio start */
.portfolio-section {
  margin-top: 160px;
  position: relative;
  z-index: 9999999 !important;
}

.portfolio-section .portfolio-effect-right {
  right: 0;
  top: -50%;
}
.portfolio-section .portfolio-effect-left {
  left: 0;
  bottom: -100%;
}

.portfolio-section .tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
  position: relative;
  z-index: 9999999 !important;
}

.portfolio-section .btn-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-top: 20px;
  button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #6d6665;
    background-color: transparent;
    color: #6d6665;
  }
  button.portfolio-next-btn {
    background-color: #ff5151;
    color: #ffffff;
  }
}
.portfolio-section .tabs .tab {
  padding: 8px 16px;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.portfolio-section .tabs .tab:hover,
.portfolio-section .tabs .tab.active {
  color: #ffffff;
  background-color: #ff5151;
}

.portfolio-section .portfolios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  z-index: 9999999 !important;
}

.portfolio-section .portfolios .portfolio {
  width: 100%;
  height: 100%;
  position: relative;
}

.portfolio-section .portfolios .left .portfolio img {
  width: 555px;
  height: 446px;
  object-fit: cover;
  border-radius: 10px;
}

.portfolio-section .portfolios .left .portfolio .portfolio-info {
  margin-top: 20px;
}

.portfolio-section
  .portfolios
  .left
  .portfolio
  .portfolio-info
  .portfolio-title {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.portfolio-section
  .portfolios
  .left
  .portfolio
  .portfolio-info
  .portfolio-description {
  font-size: 24px;
  font-weight: 400;
  color: #a5a5a5;
  margin: 25px 0;
}
.portfolio-section .portfolios .left .portfolio .view-more-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Nunito Sans";
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.portfolio-section .portfolios .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.portfolio-section .portfolios .right .portfolio {
  display: flex;
  align-items: self-start;
  gap: 20px;
}

.portfolio-section .portfolios .right .portfolio img {
  width: 282px;
  height: 212px;
  object-fit: cover;
  border-radius: 10px;
}

.portfolio-section .portfolios .right .portfolio .portfolio-info {
  margin-top: 20px;
}

.portfolio-section
  .portfolios
  .right
  .portfolio
  .portfolio-info
  .portfolio-title {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.portfolio-section
  .portfolios
  .right
  .portfolio
  .portfolio-info
  .portfolio-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #a5a5a5;
  margin: 15px 0;
}

/* Portfolio end */

/* Testimonial start */
.testimonial-section {
  margin-top: 160px;
  position: relative;
  z-index: 9999999 !important;
}

.testimonial-section .testimonial-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-section .testimonial-header .btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #6d6665;
    background-color: transparent;
    color: #6d6665;
    font-size: 18px;
  }
  button.next-btn {
    background-color: #ff5151;
    color: #ffffff;
  }
}

.testimonial-section .testimonials {
  margin-top: 30px;
  overflow-x: hidden;
  max-width: 100%;
  height: auto;
}

.testimonial-section .wrapper {
  display: flex;
  flex-direction: row !important;
  gap: 20px;
}

.testimonial-section .testimonials .testimonial {
  background-color: #242426;
  padding: 20px;
  border-radius: 10px;
}

.testimonial-section .testimonials .testimonial.large {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonial-section .testimonials .testimonial .testimonial-img {
  width: 519px;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.testimonial-section .testimonials .testimonial .testimonial-info {
  .ratings {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .small {
    margin: 15px 0;
  }
}

.testimonial-section .testimonials .testimonial .testimonial-info .title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Nunito Sans";
  margin-top: 20px;
}

.testimonial-section .testimonials .testimonial .testimonial-info .description {
  font-size: 18px;
  font-weight: 400;
  color: #a5a5a5;
  margin: 15px 0;
}

.testimonial-section .testimonials .testimonial .testimonial-info .client-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-section
  .testimonials
  .testimonial
  .testimonial-info
  .client-info
  img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-section
  .testimonials
  .testimonial
  .testimonial-info
  .client-info
  .name {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.testimonial-section
  .testimonials
  .testimonial
  .testimonial-info
  .client-info
  .position {
  font-size: 12px;
  font-weight: 400;
  color: #a5a5a5;
}

.testimonial-icons {
  & .icon-testimonial-top-left {
    top: -100px;
    left: -80px;
  }
  & .icon-testimonial-bottom-left {
    bottom: -70px;
    left: -120px;
  }

  & .icon-testimonial-top-right {
    top: -60px;
    right: 100px;

    & img {
      width: 50px !important;
    }
  }
}

/* Testimonial end */

/* Footer start */
.footer-section {
  margin-top: 130px;
  background-color: #1c1b1d;
  position: relative;
  z-index: 99999999999 !important;
}

.footer-section .top {
  display: grid;
  padding: 30px 0;
  gap: 50px;
  grid-template-columns: 40% 60%;
}

.footer-section .top .footer-info {
  width: 100%;
  height: 100%;
}

.footer-section .top .footer-info .contact-info {
  display: flex;
  justify-content: space-between;
}

.footer-section .top .footer-info .contact-info .title,
.footer-section .top .footer-info .contact-info span {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.footer-section .top .footer-info .contact-info .title {
  margin: 15px 0;
}

.footer-section .top .footer-info .contact-info span {
  font-weight: 400 !important;
  color: #a5a5a5;
}

.footer-section .top .footer-info .social-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  .social-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #333234;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-section .top .footer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-section .top .footer-form .title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.footer-section .top .footer-form .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.footer-section .top .footer-form .form-input {
  width: 100%;
  display: flex;
  gap: 10px;

  .error {
    border-bottom: 1px solid red;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
  }

  button {
    width: 180px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito Sans";
    margin-top: 20px;
  }
}

.footer-section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  .term {
    display: flex;
    align-items: center;
    gap: 15px;
    li {
      font-size: 18px;
      font-family: 400;
      color: #6d6665;
    }
  }

  p {
    font-size: 18px;
    font-family: 400;
    color: #6d6665;
  }
}
/* Footer end */

/* Media query */

@media screen and (max-width: 660px) {
  .service-title {
    font-size: 36px;
    line-height: 54px;
  }

  .bg-icon.icon-top-left {
    left: 0;
    top: 40px !important;
  }
  .bg-icon.icon-bottom-left {
    left: 0;
    bottom: 0;
  }
  .bg-icon.icon-top-right {
    right: 10px;
    top: -50px;
    img {
      width: 50px !important;
    }
  }
  .bg-icon.icon-bottom-right {
    right: 20px;
    bottom: -100px;
    width: 40px !important;
    width: 30px !important;

    img {
      width: 50px !important;
    }
  }

  .nav-small {
    display: flex;
  }
  .navbar {
    padding: 30px !important;
    position: fixed;
    top: 0;
    left: -500px;
    width: 80% !important;
    background-color: #19191b;
    height: 100vh;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    place-content: start;
    place-items: flex-start;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
  }
  .navbar.active {
    left: 0;
  }
  .navbar .brand-wrapper {
    height: 40px;
  }
  .nav-toggler {
    display: block;
  }

  .navbar .nav-list-wrapper .nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    align-items: start;
  }
  .navbar .contact-btn-wrapper {
    display: block;
    justify-content: flex-start !important;
    align-items: start;
    margin-top: 50px;
  }
  .navbar .contact-btn-wrapper .contact-us-btn {
    width: 100%;
    display: inline-block;
  }

  .hero {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero .text-area .top-title {
    /* width: 327px; */
    font-size: 42px !important;
    line-height: 50px;
  }

  .hero .text-area .hero-description {
    width: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 16px;
  }

  .hero .img-area {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin-top: 30px !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .service-section {
    margin-top: 100px;
    padding: 30px;
  }

  .service-section .service-title {
    text-align: start;
    max-width: 100%;
  }

  .service-section .services {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-top: 10px;
  }

  .portfolio-section {
    padding: 30px;
    margin-top: 50px;
  }

  .portfolio-section .btn-wrapper {
    display: flex;
  }

  .portfolio-section .tabs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
  }

  .portfolio-section .tabs .tab {
    padding: 8px 12px;
    font-size: 16px;
  }

  .portfolio-section .portfolios {
    display: block;
    overflow: hidden;
  }

  .portfolio-section .portfolios .left {
    width: 100%;
    display: none;
  }

  /* 

  .portfolio-section .portfolios .left .portfolio {
    width: 100vw;
    height: auto;
  position: relative;
    left: -100vw; 
  }

  .portfolio-section .portfolios .left .portfolio img {
    width: 350px;
    height: 246px;
  }

  .portfolio-section
    .portfolios
    .left
    .portfolio
    .portfolio-info
    .portfolio-description {
    font-size: 16px;
    color: #a5a5a5;
    margin: 15px 0;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
  } */

  .portfolio-section .portfolios .right {
    display: flex;
    flex-direction: row;
    gap: 20px !important;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
  }

  .portfolio-section .portfolios .right .portfolio {
    display: flex;
    align-items: normal;
    flex-direction: column-reverse;
    gap: 5px;
    justify-content: flex-end;
    width: 100%;
  }

  .portfolio-section .portfolios .right .portfolio img {
    width: 100%;
    height: 246px;
    object-fit: cover;
    border-radius: 10px;
  }

  .portfolio-section
    .portfolios
    .right
    .portfolio
    .portfolio-info
    .portfolio-title {
    margin-top: 10px;
  }

  .portfolio-section
    .portfolios
    .right
    .portfolio
    .portfolio-info
    .portfolio-description {
    font-size: 16px;
    color: #a5a5a5;
    margin: 10px 0;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
  }

  .portfolio-section .portfolio-effect-right {
    display: none;
  }
  .portfolio-section .portfolio-effect-left {
    display: none;
  }
  .testimonial-section {
    padding: 20px;
    position: relative;
    margin-top: 50px;
  }

  .testimonial-section .testimonial-header .btn-wrapper {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;

    button {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px solid #6d6665;
      background-color: transparent;
      color: #6d6665;
      font-size: 18px;
    }
  }

  .testimonial-section .wrapper {
    display: flex;
    flex-direction: row !important;
    gap: 0;
  }

  .testimonial-section .testimonials .testimonial.large {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .testimonial-section .testimonials .testimonial .testimonial-img {
    width: 300px;
    height: auto;
  }

  .testimonial-section
    .testimonials
    .testimonial
    .testimonial-info
    .client-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
  }

  .testimonial-icons {
    display: none;
  }

  .footer-section {
    padding: 30px;
    margin-top: 60px;
  }

  .footer-section .top {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-section .bottom {
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: start;
  }

  .footer-section .top .footer-form .form-input {
    flex-direction: column;
    gap: 20px;
  }
}
