:root {
  --bg-color: #19191b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif, "Rubik";
  font-optical-sizing: auto;
  background-color: var(--bg-color);
}

/* utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.effect-bg {
  position: absolute;
  top: 0;
  z-index: 100 !important;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.effect-bg.effect-left {
  left: 0;
}

.effect-bg.effect-right {
  right: 0;
}

.bg-icon {
  position: absolute;
  z-index: 1000;
  img {
    width: 80px !important;
    object-fit: cover;
  }
}

.bg-icon.icon-top-left {
  left: 50px;
  top: 100px !important;
}
.bg-icon.icon-bottom-left {
  left: 0;
  bottom: 0;
}
.bg-icon.icon-top-right {
  right: 10px;
  top: 40px;
}
.bg-icon.icon-bottom-right {
  right: 0;
  bottom: 0;
  width: 40px !important;
}

button:active {
  transform: scale(0.9);
}

/* utilities */

/* header start */

.header {
  position: relative;
}

/* navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  place-content: center;
  width: 100%;
  padding: 30px 0;
  background-color: transparent;
  position: relative;
  z-index: 1000;
}

.navbar .brand-wrapper {
  width: 100%;
  height: 100%;
}

.navbar .brand-wrapper .brand {
  text-decoration: none;
}

.navbar .brand-wrapper .brand img {
  width: 132px !important;
  height: 40px;
  object-fit: cover;
}

.navbar .nav-list-wrapper {
  width: 100%;
}

.navbar .nav-list-wrapper .nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar .nav-list-wrapper .nav-list .list-item {
  font-size: 18px;
  color: #fff;
  /* padding: 0 20px; */
  line-height: 24.55px;
  font-weight: 600;
  font-family: "Nunito Sans";
  cursor: pointer !important;
  transition: 0.5s ease-in-out;
}

,
.navbar .nav-list-wrapper .nav-list .list-item:hover {
  color: #ff5151 !important;
}

.navbar .nav-list-wrapper .nav-list .list-item:active {
  transform: scale(0.9);
}

.navbar .nav-list-wrapper .nav-list .list-item.active {
  color: #ff5151 !important;
}

.navbar .contact-btn-wrapper .contact-us-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .contact-us-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Nunito Sans";
}
/* navbar */

/* Hero part */

.hero {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  z-index: 9999999 !important;
  position: relative;
}

.hero .text-area {
  width: 100%;
}

.hero .text-area .top-title {
  font-size: 65px;
  font-weight: 800;
  line-height: 70px;
  font-family: "Rubik";
  color: #ffffff;
}
.hero .text-area .hero-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #a5a5a5;
  margin-top: 20px;
  font-family: "Nunito Sans";
}

.hero .text-area .service-btn {
  background-color: #ff5151;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  transition: 0.5s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;
}

.hero .text-area .service-btn:hover {
  color: #ffffff;
  transition: 0.3s;
  background-color: transparent;
  border: 1px solid #ff5151;
  color: #ff5151;
}

.hero .img-area {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px;

  img {
    width: 700px;
    height: 100%;
    object-fit: cover;
  }
}

/* Hero part */

/* Service start */
.service-section {
  margin-top: 270px;
  z-index: 1000;
  position: relative;
}

.service-section .service-title {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.service-section .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.service-section .services .service {
  padding: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
}

.service-section .services .service:hover {
  border: 1px solid #6d6665;
}

.service-section .services .service::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5151;
  bottom: -10px;
  visibility: hidden;
}

.service-section .services .service.active {
  border: 1px solid #6d6665;
}

.service-section .services .service.active::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5151;
  bottom: -10px;
  visibility: visible !important;
}

.service-section .services .service:hover::before {
  visibility: visible;
}

.service-section .services .service .service-icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.service-section .services .service .service-title {
  font-size: 28px;
  font-weight: 6 00;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.service-section .services .service .service-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #a5a5a5;
  font-family: "Nunito Sans";
}

.service-section .service-top-left-icon {
  top: -120px !important;
}

.service-section .service-bottom-left-icon {
  bottom: -50px !important;
  left: -250px !important;
}

/* Service end */

/* Portfolio start */
.portfolio-section {
  margin-top: 160px;
}
.portfolio-section .tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}

.portfolio-section .tabs .tab {
  padding: 8px 16px;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.portfolio-section .tabs .tab:hover,
.portfolio-section .tabs .tab.active {
  color: #ffffff;
  background-color: #ff5151;
}

.portfolio-section .portfolios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.portfolio-section .portfolios .portfolio {
  width: 100%;
  height: 100%;
  position: relative;
}

.portfolio-section .portfolios .left .portfolio img {
  width: 555px;
  height: 446px;
  object-fit: cover;
  border-radius: 10px;
}

.portfolio-section .portfolios .left .portfolio .portfolio-info {
  margin-top: 20px;
}

.portfolio-section
  .portfolios
  .left
  .portfolio
  .portfolio-info
  .portfolio-title {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.portfolio-section
  .portfolios
  .left
  .portfolio
  .portfolio-info
  .portfolio-description {
  font-size: 24px;
  font-weight: 400;
  color: #a5a5a5;
  margin: 25px 0;
}
.portfolio-section .portfolios .left .portfolio .view-more-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Nunito Sans";
}

.portfolio-section .portfolios .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.portfolio-section .portfolios .right .portfolio {
  display: flex;
  align-items: self-start;
  gap: 20px;
}

.portfolio-section .portfolios .right .portfolio img {
  width: 282px;
  height: 212px;
  object-fit: cover;
  border-radius: 10px;
}

.portfolio-section .portfolios .right .portfolio .portfolio-info {
  margin-top: 20px;
}

.portfolio-section
  .portfolios
  .right
  .portfolio
  .portfolio-info
  .portfolio-title {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.portfolio-section
  .portfolios
  .right
  .portfolio
  .portfolio-info
  .portfolio-description {
  font-size: 20px;
  font-weight: 400;
  color: #a5a5a5;
  margin: 15px 0;
}
/* Portfolio end */
